@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

$primary-color: #333;
$secondary-color: #205081;
$blue: $secondary-color;
$black: $primary-color;
$background: #205081;
$borderdark: #294577;
$red: #DC3D3D;
$white: #fff;
$border: #DFDFDF;
$grey: #7C7C7C;
$darkgrey: #DDD;
$font: 18px/1.5 "Open Sans",sans-serif;

body, html{
  margin: 0;
  padding: 0;
  height: 100%;
  width:100%;

}

body{
  background-color:$white;
  color: $primary-color;
  font:$font;

}

a{
  text-decoration: inherit;
  color: inherit;
}

h1, h2, h3, h4, h5{
  margin: 0px;
font-weight: 600;
}

.sidebar{
  width:350px;
  box-sizing: border-box;
  background: #f2f2f2;
  float: left;

  height: 100%;
}

.sidebar--header{
  height: 50px;
  width:100%;
  background-color: $background;
  border-bottom: 1px solid $borderdark;
  border-right: 1px solid $borderdark;
  box-sizing: border-box;
  color: $white;
}

.sidebar--header-status{
  width: 9px;
  height: 9px;
  margin: 22px 20px;
  border-radius: 25px;
  float: left;
  background: #7ED321;
}

.sidebar--header-title{
  font-size: 15px;
  line-height: 50px;
  float: left;
  font-weight: 600;
  text-align: center;
  width: 230px;
}

.sidebar--search{
  span{
    font-size: 14px;
    line-height: 50px;
    padding: 0px 20px;
  }
  input{
    height: 100%;
    line-height: 50px;
    font-size:14px;
    width:298px;
    border: 0px;
    box-sizing: border-box;
    padding: 0px 15px 0px 0px;
    background-color:transparent;
  }
}

.sidebar--conversations, .content--chat{
  top: 50px;
  height: 100%;
  height: calc(100% - 100px);
  border-right: 1px solid #DFDFDF;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.content--chat{
  border-right: 0px;
}

.sidebar--search{
  height: 50px;
  bottom: 2px;
  width: 350px;
  position: absolute;
  border-right: 1px solid $border;
  box-sizing: border-box;
  border-top: 1px solid $border;
}


.sidebar--header-settings{
  font-size:12px;
  line-height: 50px;
  float:right;
  margin-right: 20px;
  color: #fff;
}
.clear{
  clear:both;
}

.chat--text{
  background: $blue;
  padding: 5px 15px;
  float: left;
  font-size: 14px;

  border-radius: 14px;
  color: #fff;
  line-height: 2;
}

.chat--username{
  font-size: 12px;
  font-weight: 600;
  margin: 0px 5px 5px;
  text-transform: capitalize
}

.chat--content{
  float: right;
}

.chat--item{
  box-sizing: border-box;
  padding: 20px;
  padding: 20px 20px 0px;
  clear: both;

}

.chat--item-alternative{
  float:left;
  .chat--text{
    color:#333;
    background: #F1F0F0;
  }
}

.chat--user-picture{
  width: 30px;
  height: 30px;
  border-radius: 50px;
  float: left;
  margin-right: 15px;
  background-size: 30px;

}

.content{
  width: calc(100% - 350px);
  float: left;
  height: 100%;
}

.empty--clear-class{
  padding: 15px;
  box-sizing: border-box;
  background-color: rgb(230, 230, 230);
  font-size: 12px;
  margin: 120px auto;
  width: 350px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.content--header{
  height: 50px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid $borderdark;
  background-color: $background;
}

.friends--title{
  color:$grey;
  padding: 20px 20px;
  font-size: 16px;
  font-weight: 600;
}

.friends--person{
  padding: 15px 20px;
  cursor: pointer;
}

.friends--person.selected{
  background-color: $darkgrey;
  font-weight: 600;
}

.friends--person-name{
  float: left;
  padding: 0px 15px;
  font-size: 14px;
  line-height: 30px;
}

.friends--person-image{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  float: left;
  background-color: rgb(230, 230, 230);
  background-size: 30px;
}

.content--post{
  height: 50px;
  bottom: 2px;
  position: absolute;
  border-top: 1px solid rgb(223, 223, 223);
  width: 100%;
  width: calc(100% - 350px);
  box-sizing: border-box;

  input{
    font: inherit;
    font-size: 14px;
    line-height: 50px;
    border: 0px none;
    box-sizing: border-box;
    padding: 0px 15px;
    height: 100%;
    resize: none;
    width: 100%;
  }
}

.sidebar--header-settings{
  cursor:pointer;

  span{
    font-size:18px;
  }
}

.content--header--current{
  text-align: center;
  font-size: 12px;
  color: #fff;
  padding: 6px;
}

.content-header-current-user{
  font-size: 14px;
  font-weight: 600;
}

.content-header-last-time{
  font-size: 10px;
  color: #84A5C6;
}
