doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title= title || 'SwimChat'
        link(href='/css/style.css', rel='stylesheet', type='text/css')
        script(src='https://www.promisejs.org/polyfills/promise-7.0.1.min.js')
        script(src='/js/home/home.js', type='text/javascript')
    body
      #data(data-content= JSON.stringify(data))
    block content
