include header

block content
  .sidebar
    .sidebar--header
      .sidebar--header-status
      .sidebar--header-title SwimChat
      a(href="/logout")
        .sidebar--header-settings
          span.fa.fa-sign-out
    .sidebar--conversations
    .sidebar--search
      span.fa.fa-plus
      input(type="text" placeholder="Search for people and conversations…")
  .content
    .content--header
      .content--header--current
        .content-header-current-user Loading...
        .content-header-last-time Loading SwimChat...
    .content--chat#chatinterface
    .content--post
      input(type="text" placeholder="Type a message…")
