<div id="content"></div>
<div id="init-header" class="center">
  <div class="header">
    <div id="main-logo" class="logo">
      <?xml version="1.0" encoding="UTF-8" standalone="no"?>
      <svg width="183px" height="110px" viewBox="0 0 183 110" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <!-- Generator: Sketch 3.4.4 (17249) - http://www.bohemiancoding.com/sketch -->
          <title>Artboard 1</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <g id="Artboard-1" sketch:type="MSArtboardGroup" stroke="#333333" stroke-width="12" stroke-linejoin="round">
                  <path d="M90.419651,54.5934515 L139,88 L44,88 L72,49" id="Path-4" sketch:type="MSShapeGroup"></path>
                  <path d="M90,28 L138,61 L43,61 L71,22" id="Path-4" sketch:type="MSShapeGroup" transform="translate(90.500000, 41.500000) scale(-1, -1) translate(-90.500000, -41.500000) "></path>
              </g>
          </g>
      </svg>
    </div>
    <div class="header--content">
      <h1 class="huge-text">Shubham Naik</h1>
      <h3 class="wide-text">DEVELOPER + DESIGNER</h3>
      <div class="header--menutype">Scoll Down</div>
      <div class="big-menu">
        <div class="big-menu-barrier"></div>
        <div class="big-menu-column">
          <ul data-goto="datastack">Development</ul>
          <ul>Awards</ul>
          <ul>Links</ul>
          <ul class="contact-user">Contact</ul>
        </div>
        <div class="big-menu-column">
          <ul>Platform Design</ul>
          <ul>History</ul>
          <ul>Source</ul>
        </div>
        <div class="big-menu-column">
          <ul>Illustrations</ul>
          <ul>Companies</ul>
        </div>
        <div class="big-menu-column">
          <ul>Hardware</ul>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<div class="overlay-block">
  <div class="logo">
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg width="183px" height="110px" viewBox="0 0 183 110" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
        <!-- Generator: Sketch 3.4.4 (17249) - http://www.bohemiancoding.com/sketch -->
        <title>Artboard 1</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
            <g id="Artboard-1" sketch:type="MSArtboardGroup" stroke="#333333" stroke-width="12" stroke-linejoin="round">
                <path d="M90.419651,54.5934515 L139,88 L44,88 L72,49" id="Path-4" sketch:type="MSShapeGroup"></path>
                <path d="M90,28 L138,61 L43,61 L71,22" id="Path-4" sketch:type="MSShapeGroup" transform="translate(90.500000, 41.500000) scale(-1, -1) translate(-90.500000, -41.500000) "></path>
            </g>
        </g>
    </svg>
  </div>
  <div class="overlay-block-activate--menu">Menu</div>
</div>
<div class="content-block step-1">
  <div class="header-text">
    <h2>Hi, I'm Shubham Naik</h2>
    <h5><span class="i-am">I'm an</span><span class="what-am-i">creative.</span>
      <div class="clear"></div>
    </h5>
  </div>
  <div id="datastack" class="project-overlay"></div>
  <div class="center">
    <div class="text-bloque">
      <div class="text-content">
        I'm an American multidisciplinary creative based in <span class='hilite'>San Jose</span> and <span class='hilite'>Merced</span>
        <br>skilled in <span class='hilite'> Web Design</span>, Java, <span class='hilite'> Javascript</span>, Ruby, <span class='hilite'>Illustration</span>, C++ and <span class='hilite'> PHP</span>.<br/><br/>I love all aspects of progamming but I specialize in <span class='hilite'>web development.</span> <br> I'm familiar in environments including <span class='hilite'>node.js</span>, ruby on rails, <span class='hilite'>blade</span> and
        wordpress.<br/><br/>Since joining <span class='hilite'>university</span> in 2015, I’ve gone on to win
        at <span class='hilite'>2 hackathons</span> (out of 3), worked with 3 great <span class='hilite'>companies</span>, built and
        managed 2 fun <span class='hilite'>startups</span> and sold <span class='hilite'>another</span>.
      </div>
    </div>
    <div class="clear"></div>
    <div class="source--work special--up"><span>// Work DataStack</span><span>// Explore the Process</span><a href="https://datastack.co"><span>// Visit the Site</span></a></div>
  </div>
</div>
<div class="content-block step-2">
  <div class="header-text">
    <h2>What I've Worked On.</h2>
  </div>
  <div id="loadprojects" class="center"></div>
  <div class="step-3-top"></div>
</div>
<div class="content-block step-3">
  <div class="header-text">
    <h2>Awards and Recognitions</h2>
  </div>
  <div class="center">
    <div id="awards" class="content-block-list">
      <div class="content-block-list--items">
        <div id="award-hackingedu" class="content-block-list-item"></div>
        <div id="award-calhacks2" class="content-block-list-item"></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="header-text">
    <h2>Clients and Companies</h2>
  </div>
  <div class="center">
    <div id="companies" class="content-block-list">
      <div class="content-block-list--items">
        <div id="client-infinera" class="content-block-list-item"></div>
        <!--.content-block-list-item#client-webaware-->
        <div id="client-datastack" class="content-block-list-item"></div>
        <div id="client-entite" class="content-block-list-item"></div>
        <div id="client-hubyard" class="content-block-list-item"></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<div class="step-3-bottom">
  <div style="display:none" class="center">
    <div id="awards" class="content-block-list">
      <div style="margin-top:0px" class="content-block-list--title">Awards I've Won</div>
      <div class="content-block-list--items">
        <div id="award-hackingedu" class="content-block-list-item"></div>
        <div id="award-calhacks2" class="content-block-list-item"></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<div id="contact" class="content-block">
  <div class="center">
    <div class="contact-center">
      <div class="end-text-title contact-text">Yipee!</div>
      <div class="end-text">You made it to the very end.</div>
      <p>If you're interested in chatting, coding, cycling, or starting a cool project, don't hesitate to message me!<br/><a href="mailto:shub@datastack.co"><span class="red">shub@datastack.co</span></a></p>
      <p>If you're from UC Merced and are looking for work or CS information, feel free to ping me on the email below.<br/><a href="mailto:snaik3@ucmerced.edu"><span class="red">snaik3@ucmerced.edu</span></a></p>
    </div>
  </div>
</div>
